.typewheel-notice a {
	text-decoration: none;
}
.typewheel-notice i.dashicons.featured-icon {
	margin: 0 9px 0 -3px;
}
span[id$="-typewheel-notice-dismissals"] i.dashicons {
	margin: 0 0 0 9px;
}
span[id$="-typewheel-notice-dismissals"] i.dashicons:hover {
	cursor: pointer;
}
